
*{
    font-family: 'Source Sans Pro', sans-serif ;
    font-size: 20px;
}


h2{
    color:rgb(255, 145, 0);
    text-shadow: 2px 2px black;
}

input{
    margin: 10px;
}

.dp input{
    width: 80%;
    height: 30px;
}

body {
    background-image: url(https://source.unsplash.com/4_jhDO54BYg);
    background-size: 2756px 1837.5px;

}

.container{
    margin-top: 50px;
}

.container_menu{
    display:block;
    justify-content: center;
    
    margin-bottom: 20px;
}


.title{
    background-color: orange;
    
}

.title svg{
    fill: red;
    width: 100px;
}

.content{
    background-color: rgb(247, 220, 68);
    
}

.content label{
    font-size: 19px;
}

.content, .title{
    text-align: center;
    padding: 2rem;
}

.resumo{
    margin-top: 15px;
    background-color: rgb(240, 240, 157);
}

h1{
    color: red;
    text-shadow: 2px 2px black;
}
